**/bin/
**/obj/
**/.vs/
**/*.AssemblyInfo.cs
**/Properties/AssemblyInfo.cs
**/.vscode/
**/.git/
**/.gitignore
**/*.log
**/*.user
**/*.suo
**/*.pidb
**/*.psess
**/*.dbmdl
**/*.jfm
**/*.db
**/*.pdb
**/*.tmp
**/*.tmp_proj
**/appsettings.Development.json
.env
.git/
README.md